
body {
     
    font-family: Arial, sans-serif;
    line-height: 1.7;
    background: #f4f6fb;
    margin: 0;
    padding: 0;
    color: #222;
}


.navbar {
    background-color: #000000 !important;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover {
    color: #f1f1f1 !important;
}


main {
    max-width: 900px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


h1, h2, h3 {
    color: #212529; /* schwarz statt blau */
   
}


ul {
    margin-left: 25px;
}


.btn-back {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.btn-back:hover {
    background-color: #ffffff;
    color: #000000;
}

header h1,
header p {
    color: #ffffff !important;
}
